<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
    <h1> Matrix Multiplier </h1>
    
    <textarea id="results">No results loaded yet!</textarea>
    
    <script>
        const COMPUTE_URL = "http://127.0.0.1:3000/api/compute"

        var data = {
            "row" : {
                "data" : [3,4]
            }, 
            "col" : {
                "data" : [1,2]
            }
        }

        async function get_compute(data){
            var response = await fetch(COMPUTE_URL, {
                method : "POST",
                headers : {"content-type" : "application/json"},
                body : JSON.stringify(data)
            })
            return response.json()
        }

        $(document).ready(() => {
            get_compute(data)
                .then(x => x["value"]) 
                .then(y => $("#results").val(y.toString()));
        })
    </script>
</body>